<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CINEMANIA</title>
	<!-- Esto sirve para agrefar un icono en la pestaña -->
	<link rel="shortwt icon" type="image/x-icon" href="../imagenes/logo.png">
	<!-- enlazamos nuestro archivo css -->
	<link rel="stylesheet" type="text/css" href="../css/estilos.css">

</head>
<body>

	<!-- Esto sirve para nuestro menu de navegacion -->
	<header>
		<div class="header_display">
			<!-- alt sirve para poner la descripcion de la imagen -->
			<img src="../imagenes/logo.png " width="70" alt="Logotipo">
		</div>
		<nav>
			<ul>
				<li><a href="generos.html">Generos</a></li>
				<li><a href="estrenos.html">Estreno</a></li>
				
			</ul>
		</nav>
	</header>
	
	<!-- este section contendra todo nuestra pagina -->
	<section class="contenido wrapper">
	 	<section class="container home-content">
	 		<article>
	 			<h1>Peliculas de Comedia</h1>
	 			<p>Las Películas de comedia son una de las alternativas más populares, sin duda alguna. Es la mejor opción si lo que quieres es consentir tu ánimo, pasar un rato divertido y reírte hasta que el estrés desaparezca. Espanta las preocupaciones por un momento con la mejor terapia que existe: la risa. Por algo dicen que los que más se ríen viven por más tiempo, ¿no crees? Esto no será una tarea difícil, para nada, y es gracias a que PelisPlanet te regala la opción de descargar la película de comedia de tu elección, en la lista que aparece a continuación.</p>
	 		</article>
	 	</section>


		<section class="contenido-peliculas">
			<div>
				<div class="browse-movie">
					<a href="exorcista.html"><img src="../imagenes/elexorcista.jpg" class="img"></a>
					<h2 >Exorcista</h2>
				</div>
				<div class="browse-movie">
					<a href="elsilencio.html"><img src="../imagenes/el silencio de los inocentes.jpg" class="img"></a>
					<h2 >El silencio de los inocentes</h2>
				</div>
				<div class="browse-movie">
				<a href="diario.html"><img src="../imagenes/diario de una pasion.jpg" class="img"></a>
					<h2 >Diario de una pasion</h2>
				</div>
				<div class="browse-movie">
					<a href="fuego.html"><img src="../imagenes/fuego contra fuego.jpg" class="img"></a>
					<h2 >Fuego contra fuego</h2>
				</div>
			</div>
		</section> 
	</section>

 	<footer >
      <p>Todos los derechos reservados &copy; 2017. Desarrollado por <a href="#">Abel Saul Miraval Gomez</a></p>
    </footer>

</body>
</html>