<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CINEMANIA</title>
	<!-- Esto sirve para agrefar un icono en la pestaña -->
	<link rel="shortwt icon" type="image/x-icon" href="../imagenes/logo.png">
	<!-- enlazamos nuestro archivo css -->
	<link rel="stylesheet" type="text/css" href="../css/estilos.css">
	<style type="text/css">
		.todos {
			display: inline-block;
		}
	</style>

</head>
<body>

	<!-- Esto sirve para nuestro menu de navegacion -->
	<header>
		<div class="header_display">
			<!-- alt sirve para poner la descripcion de la imagen -->
			<img src="../imagenes/logo.png " width="70" alt="Logotipo">
		</div>
		<nav>
			<ul>
				<li><a href="generos.html">Generos</a></li>
				<li><a href="estrenos.html">Estreno</a></li>
				
			</ul>
		</nav>
	</header>
	
	<!-- este section contendra todo nuestra pagina -->
	<section class="contenido wrapper">
	 	<section class="container home-content">
	 		<article>
	 			<h1>Generos</h1>
	 			<p>En esta sección organizamos todos los generos disponibles en pelisplanet, aquí podrás seleccionar una categoría según tus preferencias.</p>
	 		</article>
	 	</section>
		
		<section class="container home-content">
			
			<div class="todos">
				<h2>Comedia</h2>
				<a href="comedia.html" title="Comedia"><img src="../imagenes/comedia.png" alt="Comedia" width="150" height="150"></a>
			</div>

			<div class="todos">
				<h2>Accion</h2>
				<a href="accion.html" title="Accion"><img src="../imagenes/accion.png" alt="Accion" width="150" height="150"></a>
			</div>

			<div class="todos">
				<h2>Anime</h2>
				<a href="anime.html" title="anime"><img src="../imagenes/anime.ico" alt="anime" width="150" height="150"></a>
			</div>

			<div class="todos">
				<h2>Romance</h2>
				<a href="romance.html" title="romance"><img src="../imagenes/romance.png" alt="romance" width="150" height="150"></a>
			</div>

			<div class="todos">
				<h2>Guerra</h2>
				<a href="guerra.html" title="guerra"><img src="../imagenes/guerra.jpg" alt="guerra" width="150" height="150"></a>
			</div>

			<div class="todos">
				<h2>Deportes</h2>
				<a href="deportes.html" title="deportes"><img src="../imagenes/deportes.png" alt="deportes" width="150" height="150"></a>
			</div>
			<div class="todos">
				<h2>Historico</h2>
				<a href="historico.html" title="historico"><img src="../imagenes/historico.jpg" alt="historico" width="150" height="150"></a>
			</div>

			<div class="todos">
				<h2>Aventura</h2>
				<a href="aventura.html" title="aventura"><img src="../imagenes/aventura.png" alt="Aventura" width="150" height="150"></a>
			</div>

			<div class="todos">
				<h2>Superheroes</h2>
				<a href="superheroe.html" title="Superheroes"><img src="../imagenes/superheroe.png" alt="Superheroes" width="150" height="150"></a>
			</div>
			<div class="todos">
				<h2>Fantasia</h2>
				<a href="fantasia.html" title="fantasia"><img src="../imagenes/fantasia.png" alt="fantasia" width="150" height="150"></a>
			</div>

			<div class="todos">
				<h2>Carrera</h2>
				<a href="carrer.html" title="Carrera"><img src="../imagenes/carrera.png" alt="Carrera" width="150" height="150"></a>
			</div>

			<div class="todos">
				<h2>Terror</h2>
				<a href="terror.html" title="Terror"><img src="../imagenes/terror.jpg" alt="Terror" width="170" height="150"></a>
			</div>

		</section>	


	</section>

 	<footer >
      <p>Todos los derechos reservados &copy; 2017. Desarrollado por <a href="#">Abel Saul Miraval Gomez</a></p>
    </footer>

</body>
</html>